.createpost{
    padding-top:30px;
    
}

.postForm{
    position:relative;
    background-color: white;
}

.postImg{
    margin-left: 150px;
    width:55vw;
    height:200px;
    border-radius: 10px;
    object-fit: cover;
}

.postFromGroup{
    margin-left:150px;
    display: flex;
    align-items: center;
    background-color: white;
}
.postInput{
    font-size: 35px;
    border: none;
    padding:20px;
    width: 70vw;
    position: relative;

}
.postSummary{
    font-size: 20px;
    border: none;
    padding:20px;
    width: 70vw;
    
 
}
.postTags{

    font-size: 20px;
    border: none;
    padding:20px;
    width: 70vw;
}

.postTags:focus{
    outline: none;
}

.addImgButton{
    
    padding:20px;
    margin:20px;
    position: relative;
    top: 10px;
   
    color:white;
    background-color: rgb(0,0,0);
    border:none;
    border-radius: 10px;
    cursor:pointer;
    font-size: 16px;
}

.button{
    padding:20px;
    margin:0px;
    position: relative;
    top: 10px;
   
    color:white;
    background-color: rgb(0,0,0);
    border:none;
    border-radius: 10px;
    cursor:pointer;
    font-size: 16px;
}


.postSummary:focus{
    outline: none;
}
.postInput:focus{
    outline: none;
}
.postText{
    font-size: 20px;
    height: 100vh;
}
.postSubmit{
    padding:20px;
    margin:20px;
    position: relative;
    top: 10px;
   
    color:white;
    background-color: rgb(0,0,0);
    border:none;
    border-radius: 10px;
    cursor:pointer;
    font-size: 16px;

}